:root {
	--bar-height: 70px;
	--bar-cover-art-size: 40px;
	--cover-border-radius: 8px;
	--section-border-radius: 8px;
	--sidebar-width: 85px;
	--main-corner-radius: 15px;
	--main-gap: 10px;
	/* If you are using SpotifyNoControl.exe, set this variable to 0 */
	--os-windows-icon-dodge: 1;
	--main_fg: #f4e6ff;
	--active_control_fg: #A671A9;
	--secondary_fg: #363636;
	--secondary_bg: #A671A9;
	--main_bg: #BE809C;
	--sidebar_and_player_bg: #a671a8;
	--cover_overlay_and_shadow: #202020;
	--indicator_fg_and_button_bg: #ffffff;
	--pressing_fg: #1a73e8;
	--slider_bg: #b4b7b4;
	--sidebar_indicator_and_hover_button_bg: #dedede;
	--scrollbar_fg_and_selected_row_bg: #f1f1f1;
	--pressing_button_fg: #5f5e68;
	--pressing_button_bg: #202124;
	--selected_button: #4285f4;
	--miscellaneous_bg: #fdd4ff;
	--miscellaneous_hover_bg: #f4e6ff;
	--preserve_1: #fdd4ff;
	--bg1: url("https://wallpapersite.com/images/pages/pic_w/14537.jpg");
	--bg2: url("https://cdn.discordapp.com/attachments/699685435198144553/733469916232941639/wallpaper3.png");
	--bg3: url("https://wallpapershome.com/images/pages/pic_hs/5321.jpg");
	--bg: var(--bg2);
	--bgcolor: #333;
	--accent-color:
	--accent-gradient: linear-gradient(to right, #420101 0%, #fd5252 100%);
	--overlay: #fff;
	--wallblur: 15px;

	/* these blur vars don't mean anything yet */
	--sideblur: 0px;
	--bannerblur: 0px;
	--friendblur: 0px;
	--musicplayerblur: 0px;
	--accentblur: 0px;

	/* I suggest not messing with this one tbh */
	--blur: 0px;

	/* pretty self explanatory */
	--turn-album-wall-on: 0;
	--turn-wall-on: 1;

	/* WARNING DO NOT CHANGE THESE VALUES */
	/* WARNING DO NOT ADD ';' */
	--modspotify_secondary_bg: var(--modspotify_secondary_fg)
	--accent: var(--accent-color)
}

@font-face {
    font-family: "Google Sans Display";
    src: url("https://local_resource_host/fonts/GoogleSansDisplayRegular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Google Sans Display";
    src: url("https://local_resource_host/fonts/GoogleSansDisplayMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("https://local_resource_host/fonts/Roboto.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("https://local_resource_host/fonts/RobotoMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

body {
    --glue-font-family: "Google Sans Display", "spotify-circular", "spotify-circular-cyrillic", "spotify-circular-arabic", "spotify-circular-hebrew", "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "Meiryo", "MS Gothic", sans-serif;
    --info-font-family: "Roboto", "spotify-circular", "spotify-circular-cyrillic", "spotify-circular-arabic", "spotify-circular-hebrew", "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "Meiryo", "MS Gothic", sans-serif;
    letter-spacing: 0;
}

/******/

body[data-multi-select-disabled] {
  z-index: -1;
}
.alert,
.offline-label-wrapper {
  background: transparent;
  text-shadow: 1px 1px 1px #fff;
}
.GlueHeader__background-color,
.GlueHeader__background-overlay,
.GlueHeader__background-scroll-overlay,
.GlueHeader__top-bar,
.Header__background-color,
.Header__background-overlay,
.Header__background-scroll-overlay,
.Header__top-bar,
.glue-page-header__background-color,
.glue-page-header__background-overlay,
.glue-page-header__background-scroll-overlay,
.glue-page-header__top-bar {
  background: transparent;
  background-color: transparent !important;
}
.GlueHeader__background-color,
.GlueHeader--with-active-sticky-header .GlueHeader__sticky,
.Header__background-color,
.Header--with-active-sticky-header .Header__sticky,
.glue-page-header__background-color,
.glue-page-header--with-active-sticky-header .glue-page-header__sticky {
  backdrop-filter: blur(var(--blur));
  background-color: transparent;
}
.GlueHeader__title span,
.GlueHeader__title h1,
.Header__title span,
.Header__title h1,
.glue-page-header__title span,
.glue-page-header__title h1 {
  text-shadow: 1px 1px 1px #fff;
}
.GlueHeader--with-active-sticky-header .GlueHeader__background,
.Header--with-active-sticky-header .Header__background,
.glue-page-header--with-active-sticky-header .glue-page-header__background {
  border: none;
  background-color: transparent;
}
.card-placeholder-wrapper {
 background-color: transparent;
}
.button.button-green {
  background: var(--accent-color);
}
.context-menu {
  background-color: transparent;
  backdrop-filter: blur(var(--blur));
  text-shadow: 1px 1px 1px #fff;
}
.context-menu .sep {
  background: transparent;
}
.context-menu .item {
  color: #fff;
}
.context-menu .item.hover:not(.disabled) {
  background: transparent;
}
.context-menu .item.disabled {
  opacity: 1;
  color: #aaa;
}

.h-search {
  color: #fff;
  opacity: 1;
  text-shadow: 1px 1px 1px #fff;
  background: transparent;
  transition: all linear 0.2s;
}
.h-search::placeholder {
  opacity: 1;
  color: #eee;
}
.h-search-wrapper::before {
  text-shadow: 1px 1px 1px #fff;
}
.focus .h-search,
.h-search:focus {
  background: transparent;
  color: #fff;
}
#view-buddy-list,
.section-divider-sticky-wrapper,
.section-divider {
  background-color: transparent;
}
#view-buddy-list {
  backdrop-filter: blur(var(--blur));
  background: transparent;
}
.section-divider > h3 {
  text-shadow: 1px 1px 1px #fff;
}
.section-divider {
  border: none;
}
.body-container--windows .buddy-list-iframe {
  margin-top: 40px;
}
.buddy-card {
  background-color: transparent;
}
.buddy-card .context-info {
  text-shadow: 1px 1px 1px #fff;
}
.friend .context,
.friend .context a,
.friend .song-artist,
.friend .song-artist a,
.friend .song-title,
.friend .song-title a {
  color: #eee;
  background-color: transparent;
}
[class^=spoticon-]::before,
[class*=" spoticon-"]::before {
  color: #fff;
}
.GlueSectionDivider__container {
  border: none;
}
.GlueSectionDivider__container h2 {
  text-shadow: #fff 1px 1px 1px;
}
.Carousel__grid {
  background: transparent;
  text-shadow: #fff 1px 1px 1px;
  padding: 10px;
}
.GlueSectionDivider__description {
  color: #eee;
  text-shadow: #fff 1px 1px 1px;
}
#loading {
  background-color: var(--bgcolor);
}
#view-content,
#view-content>.embedded-app,
#view-content>iframe {
  background-color: transparent;
}
.view-player .remote-playback-bar.visible {
  bottom: 0;
  right: 0;
  left: unset;
  width: fit-content;
}
.view-player .remote-playback-bar.visible p {
  padding: 0;
  text-shadow: 1px 1px 1px #fff;
}
body.remotebar .view-player {
  height: 88px;
}
body.remotebar .view-player .player-bar-wrapper {
  height: 100%;
}
.view-player {
  background-color: transparent;
  border: none;
}
.view-player .text-container .text-item-container .text-item .scroll-text-container:after {
  background-image: transparent;
}
.glue-page-header__content .glue-page-header__data,
.glue-page-header__data span,
.glue-page-header__content .glue-page-header__count-label {
  background-color: transparent;
  color: var(--accent-color)

}

#list-placeholder,
#tracklist-container {
  background: transparent;
}
.tracklist-album,
.tracklist-chart,
.tracklist-basic,
.tracklist-playlist,
.tracklist-podcast,
.tracklist-popular,
.tracklist-station,
.tracklist-queue,
.tracklist-search {
  border: none;
  color: #eee;
  text-shadow: 1px 1px 1px #fff;
}
.tl-header th {
  color: #fff;
}
.tl-sort-asc::after,
.tl-sort-desc::after {
  color: var(--accent_color);
}
.tl-header th,
.tl-cell {
  border: none;
}
.tl-row .button-play {
  background: transparent;
}
.tl-row .button-play.contextmenu-active,
.tl-row .button-play:not(:disabled):hover {
  background: transparent;
}
.tl-row .button-play {
  display: inline-block;
  opacity: 0;
  transition: all linear 0.1s;
}
.tl-row:hover .button-play,
.tl-row.contextmenu-active .button-play {
  opacity: 1;
}
.tl-row:hover .tl-cell,
.tl-row.contextmenu-active .tl-cell,
.tl-row.selected .tl-cell,
.tl-row.current .tl-cell:not(.tl-number),
.tl-row.current .tl-cell,
.tl-row.current .tl-highlight {
  background-color: transparent;
}
.tracklist .tl-row::after,
.tracklist-playlist .tl-row::after {
  opacity: 0;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: block;
  transition: all linear 0.1s;
  z-index: -1;
}
.tl-row:hover::after,
.tl-row.contextmenu-active::after {
  opacity: 0.9;
}
.tl-row.selected::after {
  opacity: 0.8;
}
.tl-row.current::after {
  opacity: 1;
}
.tl-explicit .label,
.tl-premium .label,
.tl-row:hover .tl-explicit .label,
.tl-row:hover .tl-premium .label,
.tl-row.selection-focus .tl-explicit .label,
.tl-row.selection-focus .tl-premium .label {
  border-color: #fff !important;
  color: #fff !important;
}
.sticky-clone .tl-header {
  background: transparent;
  backdrop-filter: blur(var(--blur));
}
.empty-filtered-content {
  border: none;
}
#menu-wrapper,
.sidebar .sidebar-navbar {
  background-color: transparent;
}
.sidebar {
  backdrop-filter: blur(var(--blur));
  background: transparent !important;
}
.SidebarListItemLink:link,
.SidebarListItemLink:visited {
  color: #fff;
  text-shadow: 1px 1px 1px #fff;
}
a:hover:active,
a:focus:active,
a.contextmenu-active:active {
  color: #eee;
}
.SidebarListItem--is-active::after,
.RootlistItem--is-active::before {
  background: transparent;
}
.LeftSidebar__scroll-section {
  background-color: transparent;
}
.SidebarList__title {
  text-align: center;
  color: #eee !important;
  text-shadow: 1px 1px 1px #fff;
}
.Button--style-icon-background,
.Button--style-icon-stroke {
  background: transparent;
  bottom: 0px !important;
}
.sidebar-top-items__drag-area {
  position: relative;
}
.sidebar-top-items__drag-area::before,
#view-buddy-list::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  height: 47px;
  pointer-events: none;
  z-index: -1;
}
.LeftSidebarNewPlaylistButton__button {
  border: none;
  background: transparent;
  text-shadow: 1px 1px 1px #fff;
}
.LeftSidebarNewPlaylistButton__button:active {
  opacity: 1;
  background: transparent;
}
.RootlistItemPlaylist__collaborative-icon {
  fill: #fff;
}
.slider {
  background: transparent;
  backdrop-filter: blur(var(--blur));
}
.slider div {
  background-color: var(--accent_color);
  box-shadow: 0 0 0 1px #fff;
  top: 0;
}
.slider:hover div {
  filter: brightness(150%);
  background-color: var(--accent_color);
}
.Tooltip,
.tooltip,
#tooltip {
  background: transparent;
  backdrop-filter: blur(var(--blur));
  color: #fff;
  text-shadow: 1px 1px 1px #fff;
}
.Tooltip span {
  color: inherit;
}
.content-top-bar {
  background: transparent;
}
.browser-navigation {
  color: #fff;
}
.SearchInput,
.SearchInput__input {
  color: #fff;
  text-shadow: 1px 1px 1px #fff;
}
.SearchInput__input {
  background: transparent;
}
.content-top-bar__search-input {
  max-width: 300px;
}
.SearchInput__label {
  width: 100%;
}
body[data-multi-select-disabled]::before {
  content: '';
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(var(--wallblur));
  z-index: -1;
  pointer-events: none;
  opacity: var(--turn-wall-on);
}
body[data-multi-select-disabled] {
  background-color: var(--bgcolor);
}
html,
body,
iframe {
  background-color: transparent;
}
.Card__play-button--playing {
  visibility: inherit;
}


/*****/

/*Round corner cover image*/

.card-image,
.card-placeholder-wrapper,
.card-image-content-wrapper,
.card-image-wrapper,
.Card .Card__image,
.Card .Card__image-wrapper {
    border-radius: var(--cover-border-radius) !important;
    overflow: hidden !important;
}

/*Hide some annoying elements like profile name and pic, upgrade button and device connect bar at bottom */

.profile.content-top-bar__profile-link,
.upgrade-button,
.view-player .remote-playback-bar {
    display: none !important;
}

/*Round corner scrollbar*/

::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
}

/*Hide top and bottom buttons of scrollbar. Who uses those, lol*/

::-webkit-scrollbar-button {
    display: none !important;
}

/*Hide cover image overlay*/

.card-overlay,
.Card__overlay {
    visibility: visible;
    opacity: 0;
    background: linear-gradient(transparent, rgba(var(--modspotify_rgb_cover_overlay_and_shadow), 0.5));
    border-radius: var(--cover-border-radius) !important;
    transition: opacity cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.card .card-button-add,
.card .card-button-play,
.card .card-button-more {
    visibility: visible;
    opacity: 0;
    transition: opacity cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.card.playing .card-button-play,
.playing .card .card-button-play {
    opacity: 1 !important;
}

.Card__image-hit-area:hover .Card__add-button,
.Card__image-hit-area:hover .Card__more-button,
.Card__image-hit-area:hover .Card__overlay,
.Card__image-hit-area:hover .Card__play-button {
    opacity: 1;
}

.card-image-hit-area:hover .card-overlay,
.card-image-hit-area:hover .card-button-add,
.card-image-hit-area:hover .card-button-play,
.card-image-hit-area:hover .card-button-more {
    opacity: 1;
}

.glue-page-header__content .glue-page-header__image-inner {
    border-radius: var(--cover-border-radius);
    box-shadow: unset !important;
}

.glue-page-header__full-description-overlay {
    box-shadow: unset !important;
}

.card-placeholder-wrapper {
    background: transparent !important;
}

/*Spice up search input background*/

.SearchInput {
    color: #fff;
}

.SearchInput__input {
    color: #fff;
    background: transparent;
    padding-left: 34px;
    border-radius: 0;
    border-bottom: 0;
}

/* Move navigation buttons and search field to the right and down */

.browser-navigation-top-bar {
    margin-top: 15px !important;
    margin-left: 8px;
}

.SearchInput__input,
.SearchInput__searchIcon,
.SearchInput__clearButton {
    margin-top: 15px !important;
}

.content-top-bar__profile-menu-button {
    margin-top: 15px !important;
}

.body-container--windows:not(.with-buddy-list):not(.messagebar) .content-top-bar__profile {
    margin-right: 110px !important;
    margin-top: -5px;
}

/* Spice up Fullscreen mode */

#view-player .album-art .album-art__image {
    border-radius: 30px !important;
    box-shadow: 0 10px 70px var(--accent-color);
}

#view-player .album-art .album-art__image .card-image-content-wrapper,
#view-player .album-art .album-art__image .card-image-content-wrapper .card-image {
    border-radius: 30px !important;
}

#video-player .album-art__foreground {
    flex-direction: row;
    text-align: left;
}

#video-player .album-art__background {
    filter: blur(1px);
    background-image: var(--bg2);
}

#video-player .album-art__track-details {
    padding-left: 50px;
    line-height: initial;
    max-width: 50%;
}

#video-player .album-art__track-title {
    font-size: 84px;
    margin-top: 0;
    line-height: initial;
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

#video-player .album-art__artist-name {
    font-size: 54px;
    margin-top: 0;
    line-height: initial;
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

/* Remove section divider */

.section-divider {
    border-bottom: 0 !important;
}

/**/
#loading {
  background-color: var(--bgcolor);
}

/* Notification bar */

#content-wrapper #view-message-bar {
    position: absolute !important;
    width: calc(100% - 160px) !important;
    margin-left: 80px !important;
    border-radius: 0 0 10px 10px !important;
}

.alert,
.alert a,
.alert .close {
    background-color: var(--secondary_fg) !important;
    background-image: var(--accent--gradient);
}

/* Small cover Big cover mechanism */

.now-playing.cover-size-transition.active.image-expanded #now-playing-image-small {
    display: none;
}

.now-playing.cover-size-transition.active.image-expanded .cover-image-link-wrapper {
    flex: 0 1 10px;
}

#view-now-playing a.image {
    overflow: visible !important;
}

/* Profile arrow in top left */

.content-top-bar__profile-menu-button .dropdown {
    position: fixed !important;
    top: 10px !important;
    -webkit-app-region: no-drag !important;
}

/* [WINDOWS] Change Profile menu horizontal position */

body.body-container--windows .content-top-bar__profile-menu-button .dropdown {
    right: 190px !important;
}

body:not(.body-container--windows) .content-top-bar__profile-menu-button .dropdown {
    right: 20px !important;
}

/* Small tooltip */

#tooltip,
.Tooltip {
    box-shadow: 0 0 4px #fff !important;
    border-radius: 4px !important;
    background-color: transparent;
    color: var(--main_bg);
    padding: 10px 10px;
}

.tooltip-arrow-top,
.tooltip-arrow-bottom,
.Tooltip__arrow {
    display: none !important;
}

/* Home page */

.tracklist-podcast .tl-progress .row-progress__bar {
    background: transparent;
}

.Header__background-color {
    background-color: unset !important;
    background-image: unset;
}

.Header__background-overlay {
    background: unset;
}

/* Button */

.Button,
.button {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0;
}

.Button.Button--style-green,
.Button.Button--style-stroke,
.Button.Button--style-icon-stroke,
.Button.Button--style-icon-background,
.button.button-green,
.button.button-white,
.button.button-with-stroke,
.button.button-icon-with-stroke {
    border-radius: 20px;
    border: 0;
    background: transparent;
    color: #fff !important;
    box-shadow: 0 1px 5px 0 #fff, 0 1px 2px 0 #fff !important;
}

.Button.Button--style-icon-stroke,
.Button.Button--style-icon-background {
    border-radius: 50%;
}

.Button--style-green:hover,
.Button--style-stroke:hover,
.Button--style-icon-stroke:hover,
.Button--style-icon-background:hover,
.button.button-green:hover,
.button.button-white:hover,
.button.button-with-stroke:hover,
.Button--style-icon-background:hover,
.button.button-icon-with-stroke:hover {
    transform: none !important;
    background: transparent;
    box-shadow: 0 1px 8px 0 #fff, 0 1px 3px 0 #fff !important;
}

.Button.Button--style-stroke::after,
.Button.Button--style-icon-stroke::after,
.Button.Button--style-icon-background::after,
.button.button-with-stroke::after,
.button.button-icon-with-stroke::after {
    box-shadow: none !important;
}

.glue-page-header__title-text,
.Header__title-text {
    background-color: transparent;
}

.glue-page-header .glue-page-header__content-inner .glue-page-header__button {
    margin-top: 40px;
}

.glue-page-header__content-inner,
.glue-page-header__data,
.glue-page-header__title,
.Header__content-inner,
.Header__data,
.Header__title,
.Header__title-text,
.Header__title-text-inner {
    overflow: visible !important;
}

/* Context menus */

.context-menu,
.Menu,
.dropdown-menu,
.dropdown-interior-menu {
    box-shadow: 0 8px 10px 1px #fff, 0 3px 14px 2px #fff, 0 5px 5px -3px #fff;
    border-radius: 8px !important;
    padding: 0;
    border: 0;
    background-color: transparent;
    backdrop-filter: blur(25px);
}

.GlueHeader__background-color,
.GlueHeader--with-active-sticky-header .GlueHeader__sticky,
.Header__background-color,
.Header--with-active-sticky-header .Header__sticky,
.glue-page-header__background-color,
.glue-page-header--with-active-sticky-header .glue-page-header__sticky {
  backdrop-filter: blur(var(--blur));
  background: transparent;
}

.context-menu .item,
.Menu .MenuItem {
    padding: 0 30px;
    font-size: 14px !important;
    line-height: 40px !important;
    font-family: var(--info-font-family);
}

.context-menu .item.parent:after {
    top: 0;
}

.context-menu .item.with-icon-svg:before {
    top: 0;
    height: 40px;
    background-position: center;
}

.context-menu .sep {
    margin: 0 0;
    height: 0;
}

.context-menu .item.hover:not(.disabled),
.Menu .MenuItem.selected,
.dropdown-interior-menu>li.selected,
.dropdown-interior-menu>li>a:focus,
.dropdown-menu>li.selected,
.dropdown-menu>li>a:focus,
.dropdown-submenu:focus>a,
.dropdown-menu>.active>a,
.dropdown-menu>.active.selected,
.dropdown-menu>.active>a:focus,
.dropdown-interior-menu>.active>a,
.dropdown-interior-menu>.active.selected,
.dropdown-interior-menu>.active>a:focus {
    background-color: var(--accent-color);
}

.context-menu .item:first-child,
.Menu .MenuItem:first-child {
    border-radius: 8px 8px 0 0;
}

.context-menu .item:last-child,
.Menu .MenuItem:last-child {
    border-radius: 0 0 8px 8px;
}

.Menu__title {
    letter-spacing: 0;
    font-weight: 500;
    text-align: left;
}

.navbar-overflow .selected a {
    background-color: transparent;
}

.PopoverMenu__arrow {
    display: none;
}

#menu-wrapper ::-webkit-scrollbar {
    display: none;
}

.glue-page-header__label span,
.Header__label span {
    background-color: transparent;
    padding: 5px 0;
}

.glue-page-header__label .header-verified-check {
    background-color: transparent;
}

body.remotebar .view-player .player-bar-wrapper {
    height: 100%;
}

.Header__image-inner {
    box-shadow: unset;
}

/* Change info font */

.Card__info-wrapper,
.card-info-wrapper {
    font-family: var(--info-font-family);
    margin-top: 20px;
    background-color: transparent;
}

/* Section title font color */

.GlueSectionDivider__title,
.section-divider-title {
    color: var(--secondary_fg);
    font-family: var(--glue-font-family);
    font-weight: 500;
}

.section-divider-description {
    padding-top: 6px;
}

/* Sidebar */
.LeftSidebar {
    width: var(--sidebar-width);
}

.LeftSidebar .SidebarListItem {
    font-weight: 400;
}

.LeftSidebar .SidebarListItem.SidebarListItem--is-active,
.RootlistItem--is-active {
    font-weight: 500;
}

.LeftSidebar .SidebarListItem,
.RootlistItem {
    padding-top: 12px;
    padding-bottom: 12px;
}

.scrollbar-style-visible-linux .RootlistItem,
.scrollbar-style-visible-mac .RootlistItem,
.scrollbar-style-visible-windows .RootlistItem {
    padding-right: 10px;
    padding-left: 10px;
}

.SidebarListItem--is-active:after,
.RootlistItem--is-active:before {
    background-color: transparent;
    opacity: 0.2;
    bottom: unset;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    left: 17px;
    z-index: -1;
}

.LeftSidebar__section .SidebarListItem--is-active:after {
    top: 6px;
}

.LeftSidebar__scroll-section .SidebarListItem--is-active:after {
    top: 3px;
}

.body-container--mac .sidebar-top-items__drag-area,
.body-container--windows .sidebar-top-items__drag-area {
    height: 0;
}

.body-container--windows .LeftSidebar {
    margin-top: 30px;
}

.RootlistItem--is-active:before {
    top: 3px;
}

.SidebarListItem__inner {
    align-items: center;
}

.SidebarList__title {
    display: none;
}

.SidebarListItem__play-button,
.RootlistItemPlaylist__play-button {
    z-index: 3;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}

.SidebarListItem__play-button .Button {
    width: 32px;
    height: 32px;
}

/* Playlist item */

.tl-cell,
.TableCell {
    font-family: var(--info-font-family);
    font-weight: 400;
    height: 50px;
}

.tl-cell:not(.tl-number),
.tl-cell a:link,
.tl-highlight,
.TableCell:not(.tl-number),
.TableCell a:link {
    color: var(--secondary_fg);
    background-color: transparent;
}

.tl-row.selected .tl-cell,
.tl-row.selected:hover .tl-cell,
.TableRow.TableRow--is-selected .TableCell {
    background-color: transparent;
}

.tl-row .tl-cell:first-child,
.TableRow .TableCell:first-child {
    border-radius: 4px 0 0 4px;
}

.tl-row .tl-cell:last-child,
.TableRow .TableCell:last-child {
    border-radius: 0 4px 4px 0;
}

@media screen and (max-width: 950px) {
    .tl-cell.tl-more {
        border-radius: 0 4px 4px 0;
    }
}

.tl-explicit .label,
.tl-premium .label {
    color: var(--secondary_bg);
    background-color: transparent;
    border: 1px solid var(--slider_bg);
}

.tl-row.current .tl-cell:not(.tl-number),
.tl-row.current .tl-cell a:link,
.tl-row.current .tl-highlight,
.TableCellSong--track-is-playing .TableCellSong__featuredArtist,
.TableCellSong--track-is-playing .TableCellSong__text-truncator,
.TableCellSong--track-is-playing .TableCellSong__track-name {
    background-color: transparent;
    background-image: transparent;
}

.TableCell {
    border-top: 0;
}

.tl-attention-highlight {
    height: 50px;
}

/* Sort element: color, remove label */

.section-divider .GlueDropdown,
select {
    color: var(--secondary_fg);
    font-weight: 400;
    border-radius: 4px;
    padding: 0 5px;
    margin-left: 0;
}

[data-ta-id="sorting-wrapper"] {
    float: right !important;
}

[data-ta-id="sorting-wrapper"] label {
    display: none;
}

/* Search bar in app */

.h-search {
    border-bottom: 1px solid var(--main_fg);
    border-radius: 0;
}

.focus .h-search,
.h-search:focus {
    background: transparent;
}

/* Card buttons */

.Card__play-button,
.card .card-button-play {
    left: unset !important;
    top: unset !important;
    right: 10px;
    bottom: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.card .card-button-play.button-play::before,
.card .button-play.playing::before {
    line-height: 45px !important;
    font-size: 20px !important;
    padding-left: 13px !important;
}

.card-button-more {
    left: unset !important;
    top: 10px !important;
    right: 0;
    transform: none !important;
    margin: 0;
}

.card-button-more::before {
    padding-left: 0;
    text-align: center;
    transform: rotate(90deg);
}

.card-button-add {
    left: unset !important;
    top: unset !important;
    bottom: 15px;
    right: 60px;
    transform: none !important;
    margin: 0;
}

.card-button-add::before {
    padding-left: 0;
    text-align: left;
}

.Card__play-button {
    left: unset !important;
    top: unset !important;
    right: 10px;
    bottom: 10px;
    transform: none !important;
}

.Card__play-button .Button.Button--style-icon-background,
.Card__play-button .Button.Button--style-icon-stroke {
    width: 45px !important;
    height: 45px !important;
}

.Card__play-button .Button.Button--style-icon-stroke:before,
.Card__play-button .Button.Button--style-icon-background:before {
    line-height: 45px !important;
    font-size: 20px !important;
}

.Card__add-button {
    left: unset !important;
    top: unset !important;
    bottom: 10px;
    right: 60px;
    transform: none !important;
}

.Card__more-button {
    left: unset !important;
    top: 0 !important;
    right: 0;
    transform: rotate(90deg);
}

/* Concert page */

.concert-title span {
    color: var(--secondary_fg);
    background-color: transparent;
}

.location__container .location__name {
    letter-spacing: 0;
    font-weight: 500;
    background: transparent;
}

#concerts h1 {
    font-weight: 500;
    color: var(--secondary_fg);
    background: transparent;
}

/* Bio page */

.biography__container {
    margin-top: 30px;
    padding: 16px;
    border-radius: var(--section-border-radius);
    border: 2px solid var(--scrollbar_fg_and_selected_row_bg);
}

.biography__container .section-divider {
    padding: 0;
}

.rankings__container {
    margin-top: 30px;
    padding: 16px;
    border-radius: var(--section-border-radius);
    border: 2px solid var(--scrollbar_fg_and_selected_row_bg);
}

.rankings__container h4 {
    margin: 0;
    padding: 0;
    letter-spacing: 0 !important;
    color: var(--secondary_fg);
    font-family: var(--glue-font-family)
    font-weight: 500 !important;
}

.rankings__topcities.title {
    padding: 32px 0 16px;
}

.section-divider.section-divider-borderless {
    margin-bottom: 16px;
}

.section-divider.section-divider-borderless h2 {
    color: var(--secondary_fg);
    font-family: var(--glue-font-family);
    font-weight: 500;
    letter-spacing: 0;
}

.biography__container .biography__image-carousel {
    border-radius: var(--cover-border-radius);
    overflow: hidden;
    margin-bottom: 32px;
}

.biography__container .bio-show {
    margin-left: 0;
}

.biography__container .listening {
    margin-bottom: 0;
}

.rankings__info {
    padding-top: 0;
    margin-bottom: 32px;
}

/* Toggle button */

.slider {
    background-color: var(--secondary_fg);
    background-image: var(--accent-gradient);
    border: 0;
    height: 18px;
    border-radius: 9px;
}

.slider.enabled {
    background: transparent;
}

.slider.enabled div {
    background: transparent;
}

.slider div {
    transition: all 0.3s ease;
    background: transparent;
    box-shadow: 0 1px 3px #fff;
    border-radius: 11px;
}

/* Friend list */

.buddy-list-title h3 {
    font-weight: 500;
    color: var(--secondary_fg);
    background-color: var(--secondary_fg);
}

.buddy-list-title {
    padding-top: 16px;
}

.friend .user .name {
    font-weight: 500;
    font-family: var(--info-font-family);
    color: var(--secondary_fg);
    background-color: var(--secondary_fg);
}

.friend .context a,
.friend .song-artist a,
.friend .song-title a {
    font-weight: 400;
    font-family: var(--info-font-family);
    color: var(--secondary_fg);
    background-color: transparent;
    background-image: transparent;
    background: transparent;
}

.buddy-card .card .button {
    right: 0;
    bottom: 0;
}

.buddy-card .card .button:before {
    font-size: 16px !important;
    line-height: 40px !important;
}

.album-art__background {
  background-color: var(--accent-color);
}

/*Force player bar to has fixed height*/
/********/
.view-player {

    height: var(--bar-height) !important;
    border-top: 0;
    padding: 0 15px;
    width: calc(100% - var(--sidebar-width) - var(--main-gap));
    position: absolute;
    bottom: var(--main-gap);
    left: var(--sidebar-width);
    border-radius: 0 0 var(--main-corner-radius) var(--main-corner-radius);
    z-index: 2;
    /* Glowing effect */
    background-color: transparent;
    background-image: transparent;
}
body.video-full-screen .view-player {
    left: 0;
    width: 100%;
}

/* Player cover art */

.view-player .now-playing-container .caption .cover-image-link {
    flex-basis: var(--bar-cover-art-size);
    width: var(--bar-cover-art-size);
    height: var(--bar-cover-art-size);
}

.view-player .now-playing .cover-image-link figure {
    width: var(--bar-cover-art-size);
    height: var(--bar-cover-art-size);
    border-radius: 3px;
    overflow: hidden;
}

.view-player .now-playing .cover-image-link-wrapper {
    width: var(--bar-cover-art-size);
    height: var(--bar-cover-art-size);
}

/* Input form */

.form-control,
.form-control:focus {
    color: var(--secondary_fg);
    background-color: var(--indicator_fg_and_button_bg);
    font-family: var(--info-font-family);
}

#view-modal .playlist-annotate .description-field-wrapper {
    color: var(--secondary_fg);
}

/* Connect Device Popup */

/* Cannot edit svg colors, hide it away */

.ConnectPopup__devices-image {
    display: none;
}

.ConnectPopup {
    box-shadow: 0 8px 10px 1px #fff, 0 3px 14px 2px #fff, 0 5px 5px -3px #fff;
    border-radius: 3px !important;
}

.button.button-blue {
    color: var(--secondary_fg);
}

/* Search page */

.SearchHeader__sticky-wrapper {
    background-image: unset;
    background-color: unset;
    border-bottom: 0;
}

.SearchInput__searchIcon {
    color: var(--main_fg);
}

/* Notification */
.notification-bubble-container>div {
    background: var(--main_fg);
    color: var(--secondary_fg);
}

.view-player .text-container .text-item-container .text-item .scroll-text-container:after {
    background: unset;
}

.view-player .player-bar-wrapper {
    padding-top: 2px;
}

.view-player .player-controls-container .button-repeat.active:after,
.view-player .player-controls-container .button-shuffle.active:after {
    display: none;
}

#now-playing-image-large {
    z-index: 9999;
}

#view-now-playing {
    /* position: absolute; */
    max-width: 300px;
    max-height: 300px;
    width: unset;
    height: unset;
    position: absolute;
    background: transparent;
}

.now-playing-large {
    border-top: 0;
}

#view-now-playing.expanded,
#view-now-playing.expanded .large.image {
    width: 300px;
    height: 300px;
}

#view-now-playing.expanded {
    bottom: calc(var(--bar-height) + var(--main-gap));
    left: var(--sidebar-width);
}

#view-now-playing a.image.large figure,
#view-now-playing a.image.large figure .cover-image {
    height: 100% !important;
}

.playlist-picture {
    width: var(--left-sidebar-item-height);
    height: var(--left-sidebar-item-height);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.playlist-picture span {
    display: none !important;
}


.SidebarListItemLink {
    z-index: 2;
    justify-content: center;
}

.RootlistItem__link .SidebarListItemLink {
    margin-left: 0;
}

.RootlistItemFolder__arrow:hover {
    color: var(--main_bg);
}

.SidebarListItemLink:link,
.SidebarListItemLink:visited,
.RootlistItem__link {
    padding-left: 0;
    color: var(--main_bg);
}

.RootlistItemFolder__arrow {
    color: var(--main_bg);
    padding: 0;
    position: absolute;
    z-index: 3;
    margin-left: 15px;
    margin-top: 15px;
    width: 28px;
    height: 28px;
}

.LeftSidebar__section {
    margin: 0;
}

.LeftSidebar__section.LeftSidebar__section--rootlist {
    padding: 18px 0;
}

#new-playlist-button-mount-point {
    display: none;
}

#menu-wrapper {
    width: 100%;
    min-width: 100%;
}

.lyrics-color-container {
    background-color: transparent !important;
}

.lyrics-lines-container .no-lyrics-message {
    color: var(--secondary_fg);
}

.RootlistItemPlaylist__offline-indicator {
    display: none;
}

.online-container {
    color: var(--secondary_fg);
}

.lyrics-lines-container .lyrics-list-animated .lyrics-line[data-animation-index="2"],
.lyrics-lines-container .lyrics-list-animated .lyrics-line[data-animation-index="3"] {
    color: var(--secondary_fg);
}

.SidebarListItemLink:before {
    color: var(--accent-color);
    margin-right: 0;
}

.SidebarListItem__label:before {
    color: var(--accent-color);
}

.sidebar .sidebar-navbar {
    background-color: transparent;
    padding-bottom: 10px;
    z-index: 0;
}

.LeftSidebar__scroll-section {
    background-color: transparent;
}

.main-view-wrapper {
    position: absolute;
    width: calc(100% - var(--sidebar-width) - var(--main-gap));
    height: calc(100% - var(--bar-height) - var(--main-gap) * 2);
    left: var(--sidebar-width);
    top: var(--main-gap);
    border-radius: var(--main-corner-radius) var(--main-corner-radius) 0 0;
    overflow: hidden;
}

.SidebarListItemLink:focus,
.SidebarListItemLink:hover,
.SidebarListItemLink--is-highlighted:hover,
.SidebarListItemLink--is-highlighted:link,
.SidebarListItemLink--is-highlighted:visited {
    color: unset;
}

.progress-bar .inner {
    background-color: var(--accent-color);
}

.progress-bar .inner:hover {
    background: transparent;
    color: transparent;
}

element.style {
    background-image: unset;
}

div.glue-page-header__background-image {
    color: transparent;
}

section.h-main-content.container.clearfix {
    color: transparent;
}

body[data-multi-select-disabled] {
    background-color: transparent;
}

div.card-hit-area-counter-scale-right:hover {
    background: transparent;
}

div.card-hit-area-counter-scale-right {
    background: transparent;
}


div.glue-page-header__background-image:hover {
    color: transparent;
}

.view-player .extra-controls-container .volumebar-container .progress-bar-wrapper.active .inner, .view-player .extra-controls-container .volumebar-container:hover .inner {
    background: transparent;
}

.view-player .extra-controls-container .volumebar-container .progress-bar .inner {
    background: transparent;
}

.progress-bar .handle {
    background: #ffffff;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    box-shadow: 0 0 3px var(--accent-color);
}

.ConnectPopup__content:hover {
    background: var(--bg);
    border-radius: 0 0 8px 8px;
}

.ConnectPopup__wallpaper {
    background: var(--bg);
    filter: blur(25px);
}

.ConnectPopup__background {
    background: var(--bg);
    filter: blur(25px);
}


.ConnectPopup__content .content:before {
  background-image: var(--bg);
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.ConnectPopup__content {
    background-image: var(--bg);
    border-radius: 0 0 8px 8px;
    backdrop-filter: blur(25px);
}

.ConnectPopup__header {
    padding: 16px 36px;
    text-align: center;
    background: var(--bg);
}

.ConnectPopup__device--available:focus, .ConnectPopup__device--available:hover {
    background-color: transparent;
}

div.inner:hover {
    background: transparent;
}

div.inner {
    background: transparent;
}

/* Custom Elements added by extensions */

#dribbblish-back-shadow {
    position: absolute;
    width: calc(100% - var(--sidebar-width) - var(--main-gap));
    height: calc(100% - var(--main-gap) * 2);
    left: var(--sidebar-width);
    top: var(--main-gap);
    box-shadow: 0 0 10px 3px #0000003b;
    border-radius: var(--main-corner-radius);
    z-index: 1;
}

#dribbblish-sidebar-fade-in {
    position: absolute;
    bottom: 0;
    width: var(--sidebar-width);
    height: 10%;
    background: unset;
    z-index: 3;
    pointer-events: none;
}
#list-placeholder, #tracklist-container {
    background: transparent;
    backdrop-filter: blur(var(--wallblur));
}
.content-top-bar {
    background-color: transparent;
}
.P2SVideoOverlay--is-in-full-screen-mode .P2SVideoOverlay__fade {
    background: transparent;
}
.progress-bar, .progress-bar .inner {
    background: transparent;
    border-radius: 2px;
    margin-top: -2px;
}
::-webkit-scrollbar {
    height: 6px !important;
    width: 6px !important;
    background-color: var(--secondary_bg);
}
::-webkit-scrollbar-track {
    background-color: var(--main_fg);
}
.scrollbar-style-visible-mac::-webkit-scrollbar,
.scrollbar-style-visible-mac ::-webkit-scrollbar,
.scrollbar-style-visible-windows::-webkit-scrollbar,
.scrollbar-style-visible-windows ::-webkit-scrollbar,
.scrollbar-style-visible-linux::-webkit-scrollbar,
.scrollbar-style-visible-linux ::-webkit-scrollbar {
  width: 16px !important;
}
.scrollbar-style-visible-mac::-webkit-scrollbar-button,
.scrollbar-style-visible-mac ::-webkit-scrollbar-button,
.scrollbar-style-visible-windows::-webkit-scrollbar-button,
.scrollbar-style-visible-windows ::-webkit-scrollbar-button,
.scrollbar-style-visible-linux::-webkit-scrollbar-button,
.scrollbar-style-visible-linux ::-webkit-scrollbar-button {
  background-color: var(--main_fg) !important;
}
.scrollbar-style-visible-mac::-webkit-scrollbar-corner,
.scrollbar-style-visible-mac ::-webkit-scrollbar-corner,
.scrollbar-style-visible-windows::-webkit-scrollbar-corner,
.scrollbar-style-visible-windows ::-webkit-scrollbar-corner,
.scrollbar-style-visible-linux::-webkit-scrollbar-corner,
.scrollbar-style-visible-linux ::-webkit-scrollbar-corner {
  background-color: #BE809C !important;
}
.scrollbar-style-visible-mac::-webkit-scrollbar-thumb,
.scrollbar-style-visible-mac ::-webkit-scrollbar-thumb,
.scrollbar-style-visible-windows::-webkit-scrollbar-thumb,
.scrollbar-style-visible-windows ::-webkit-scrollbar-thumb,
.scrollbar-style-visible-linux::-webkit-scrollbar-thumb,
.scrollbar-style-visible-linux ::-webkit-scrollbar-thumb {
  background: var(--main_fg) !important;
  min-height: 32px;
  min-width: 32px;
}
.scrollbar-style-visible-mac ::-webkit-scrollbar-track,
.scrollbar-style-visible-mac::-webkit-scrollbar-track,
.scrollbar-style-visible-windows ::-webkit-scrollbar-track,
.scrollbar-style-visible-windows::-webkit-scrollbar-track,
.scrollbar-style-visible-linux ::-webkit-scrollbar-track,
.scrollbar-style-visible-linux::-webkit-scrollbar-track {
  background-color: #BE809C !important;
}
.scrollbar-style-visible-windows::-webkit-scrollbar-button,
.scrollbar-style-visible-windows ::-webkit-scrollbar-button,
.scrollbar-style-visible-linux::-webkit-scrollbar-button,
.scrollbar-style-visible-linux ::-webkit-scrollbar-button {
  background-color: var(--main_fg) !important;
  background-size: 16px 64px;
  background-repeat: no-repeat;
  background-position: center center;
}

[class^=spoticon-]::before, [class*=" spoticon-"]::before {
    color: var(--main_fg) !important;
}
.button.button-green.contextmenu-active, .button.button-green:not(:disabled):hover {
    background: #BE809C;
}
.view-player .extra-controls-container .volumebar-container .progress-bar .inner {
    background: #BE809C;
}
.view-player .now-playing-container .button-add, .view-player .now-playing-container .button-add:not(:disabled):hover, .view-player .now-playing-container .nowplaying-add-button, .view-player .now-playing-container .nowplaying-add-button:not(:disabled):hover, .view-player .now-playing-container .nowplaying-ban-button, .view-player .now-playing-container .nowplaying-ban-button:not(:disabled):hover {
    color: #BE809C;
}
.h-search {
    background-color: transparent;
}
.tl-cell:not(.tl-number), .tl-cell a:link, .tl-highlight, .TableCell:not(.tl-number), .TableCell a:link {
    color: #fff;
    background-color: transparent;
}
.ConnectPopup__header {
    padding: 16px 36px;
    text-align: center;
    border-radius: 25px 25px 0 0;
    background: transparent;
		backdrop-filter: blur(25px);
}
.ConnectPopup__content {
    background: transparent;
    border-radius: 0 0 25px 25px;
    backdrop-filter: blur(25px);
}
.body-container--unknown-os .ConnectPopup, .body-container--windows .ConnectPopup {
    border-radius: 0;
    background: transparent !important;
}
.ConnectPopup__content:hover {
    background: transparent;
    border-radius: 0 0 25px 25px;
    backdrop-filter: blur(25px);
}
body.video-full-screen #view-player-footer {
    will-change: transform,opacity;
    transition: opacity .3s cubic-bezier(.6,0,.7,1),transform .2s cubic-bezier(.6,0,.7,1);
    background: transparent;
    backdrop-filter: blur(var(--wallblur));
}
.button.button-large.button-icon-with-stroke.contextmenu-active, .button.button-large.button-icon-with-stroke:not(:disabled):hover {
    background-color: var(--secondary_bg);
}
.button.button-large.button-icon-with-stroke.contextmenu-active, .button.button-large.button-icon-with-stroke:not(:disabled) {
    background-color: var(--secondary_bg);
}
button[data-button=add-recommendation] {
    padding-top: 1px;
    border-radius: 14px;
    background: var(--secondary_bg) !important;
    transition-property: transform,box-shadow,color,background-color;
}
button[data-button=add-recommendation].contextmenu-active, button[data-button=add-recommendation]:not(:disabled):hover {
    background-color: var(--main_fg) !important;
}
.header {
   background: transparent !important;
   margin: 0 auto;
}
